body{
    margin: 0;
    padding: 0;
}
#hero{
    background-image: url("img/typist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    min-height: 200px;
}
#navi{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .75em;
    text-transform: uppercase;
    color: rgb(212, 212, 212);
    font-weight:700
}
section{
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.mini-cap-title{
    text-transform: uppercase;
    font-size: .7em;
    color: rgb(212, 212, 212);
    font-weight: 700;
}
.hero-text{
    height: 100%; 
    width: 35%; 
    color: white; 
    padding-top: 12vh;
    padding-left: 30px;
}
.info-box{
    display: block;
    flex: 1;
    background-color: rgb(255,255,255);
    padding: 10px;
    text-align: center;
}
.info-box-cart{
    background-color: transparent;
}
.info-box a{
    text-decoration: none;
    border-bottom: 1px dotted;
}
.info-box h6{
    padding-top: 10px;
    padding-bottom: 10px;
}
.info-box img{
    width: 100%;
}
img.cart-size{
    width: 100%;
}
.col3-content{
    padding-top: 5px;
    font-size: .8em;
    padding-left: 10px;
    padding-right: 10px;
}
.row{
    background-color: #cecece;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.row > div{
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
}
@media screen and (max-width: 768px){
    .info-box{
        width: 100%;
    }
    .info-box > .col3-content{
        font-size: .9em;
        padding-left: 30px;
        padding-right: 30px;
    }
    .row{
        flex-direction: column;
    }
    .row > div{
        flex: 1 0 100%;
    }
}
.mdl{
    background-color: rgba(43, 40, 38, 0.8);
    position: fixed;
    /* left, bottom, top, right only applies if position is specified */
    left:0;
    bottom:0;
    top:0;
    right:0;
    opacity: 0; /* opacity 0 = transparent (why not use display: none or visibility: hidden) */
    pointer-events: none;
}
.mdl:target{
    opacity: 1;
    pointer-events: all;
}
.mdl > div{
    width: 50%;
    margin: auto;
    margin-top:5%;
}
/*
    !! Check if we still need .mdl-cart > div
*/
.mdl-cart > div{
    width:25%;
    margin: auto;
    margin-top: 5%;
}
.btnBase{
    border: 0;
    padding-right: .7em;
    padding-left: .7em;
    border-radius: .2em;
    /* background-color: #739393; */
    /* background-color: #25323c; */
    background-color: #537373;
    color: white;
}
#btnLogin{
    width: 5em;
}
.btnMore{
    height: 2.5em;
    font-weight: 500;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: underline dotted;
    vertical-align: bottom;
}
