body{
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    font-family: monospace;
}
section{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
section div{
    flex: 1 0 calc(33.33% - 20px);
    border: 1px solid blue;
    border-radius: 3px;
    width: 46%;
    float: left;
    padding: 2px;
    margin: 1px;
}
